body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculadora {
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;
}

#visor {
    width: 90%;
    height: 40px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 20px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}


